* {
  --content-width: clamp(375px, 1024px, 100vw - 1rem);
}

.availability-pref {
  width: var(--content-width);
  border: 1px solid gray;
  width: var(--content-width);
  min-width: 375px - 1rem;
  max-width: 1024px;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

#select-availability-box {
}

.day-box {
  display: flex;
  align-items: center;
}
.day-title {
  background-color: var(--title-color);
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: white;
  width: 10ch;
}

.dispo-by-day {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#delete-availability {
  background-color: black;
  color: white;
  border: 0;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

.timeslot {
  display: flex;
}

label {
  margin: 0;
  display: flex;
  align-items: center;
}

.add-timeslot-btn {
  margin: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: white;
  border: 0px;
  background-color: var(--button-color-3);
  border-radius: 5px;
}

@media screen and (max-width: 736px) {
  .day-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
