* {
  --content-width: clamp(375px, 1024px, 100vw - 1rem);
}

.availability-pref,
.user-admin {
  width: var(--content-width);
  border: var(--border-area-style);
  width: var(--content-width);
  min-width: 375px - 1rem;
  max-width: 1024px;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

/* Partie availability */
.day-box {
  display: flex;
  align-items: center;
}
.day-title {
  background-color: var(--title-color);
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: white;
  width: 10ch;
}

.dispo-by-day {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#delete-availability {
  background-color: black;
  color: white;
  border: 0;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

.timeslot {
  display: flex;
}

label {
  margin: 0;
  display: flex;
  align-items: center;
}

.add-timeslot-btn,
.cancel-delete-btn,
.confirm-delete-btn {
  margin: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: white;
  border: 0px;
  background-color: var(--button-color-3);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .day-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Partie userlist */

#admin-table {
  overflow-x: auto;
  border: 1px solid var(--title-color);
  border-radius: 5px;
  margin-top: 1rem;
}

table {
  table-layout: fixed;
  margin: 0 auto;
  padding: 0.25rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  background-color: var(--title-color);
  color: white;
}

thead th:nth-child(1) {
  width: 10ch;
}
thead th:nth-child(2) {
  width: 20ch;
}
thead th:nth-child(3) {
  width: 10ch;
}
thead th:nth-child(4) {
  width: 5ch;
}
thead th:nth-child(5) {
  width: 2.5rem;
  text-align: center;
}
thead th:nth-child(6) {
  text-align: right;
  width: 2rem;
}

th {
  padding: 0.25rem;
}

td {
  padding: 0.5rem 0.25rem;
}

.user-line {
  margin: 1rem auto;
  width: 100%;
}

.user-line:hover {
  cursor: pointer;
  color: var(--button-color-3);
}

._edit,
.user-details-hidden {
  display: none;
}

#email-img {
  width: 1rem;
  background-color: white;
  border-radius: 5px;
}

#prenom {
  width: 10ch;
}

#email {
  width: 25ch;
}

#company {
  min-width: 5ch;
  max-width: 10ch;
}

.edit,
.delete {
  text-align: center;
}

.delete {
  text-align: right;
}
.edit:hover,
.delete:hover {
  cursor: pointer;
}

#delete-icn,
#edit-icn {
  width: 1rem;
}

.edited {
  background-color: var(--button-color-3);
  padding: 0.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.confirm-delete-btn {
  background-color: var(--button-color);
}

.details {
  border: 0;
  margin: auto;
  table-layout: fixed;
  text-align: center;
  padding: 0.5rem;
  width: calc(100% - 1.5rem);
}
.details thead {
  background-color: var(--bar-background-color);
  border: 0;
  color: hsla(0, 0%, 0%, 0.734);
  border-bottom: 1px solid grey;
}

.details thead tr th:nth-child(1) {
  width: 1ch;
}
.details thead tr th:nth-child(2) {
  width: 2ch;
}
.details thead tr th:nth-child(3) {
  width: 2ch;
}

.recipient {
  overflow-wrap: break-word;
}

.details thead tr th:nth-child(5) {
  width: 2ch;
}
.details thead tr th:nth-child(6) {
  width: 1ch;
}

#replyImg,
#replyImg2,
#send-img {
  width: 1rem;
}

#reply-btn:hover {
  cursor: pointer;
}

#reply-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#reply-table td:nth-child(1) {
  width: 3ch;
}

#reply-table td:nth-child(2) {
  width: 14ch;
}
#reply-table td:nth-child(4) {
  width: 3ch;
}

#reply-area {
  width: 10px;
}

.reply-message {
  border-radius: 5px;
  width: calc(100% - 1rem);
  border: 0;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  font-weight: smaller;
  border: 3px solid var(--item-selected);
}

.reply-message:focus {
  border: 0;
}

.details tbody tr:nth-child(2n + 1) {
  background-color: white;
}
.details tbody tr:nth-child(2n) {
  background-color: hsla(0, 0%, 50%, 0.078);
}
