* {
  --content-width: clamp(375px, 1024px, 100vw - 1rem);
}

.login-section {
  width: var(--content-width);
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-box {
  border: 1px dotted rgba(128, 128, 128, 0.583);
  margin: 1rem auto;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 1rem 1rem 1rem rgba(128, 128, 128, 0.572);
}

#basile {
  width: 100px;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

input {
  margin: 0 1rem;
  border-radius: 5px;
  padding: 0.1rem;
}

.connect-btn a {
  text-decoration: none;
  color: white;
}

.connect-btn {
  appearance: none;
  background-color: var(--button-color);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 1px 10px;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.connect-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.connect-btn:hover {
  background-color: #2c974b;
}

.connect-btn:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.connect-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.connect-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
