* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.navbar {
  width: clamp(375px, 1024px, 100vw - 1rem);
  min-width: 375px - 1rem;
  max-width: 1024px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #bfbfbfbc;
  color: #1e4b9f;
  box-shadow: 1rem 1rem 3rem rgba(203, 200, 200, 0.631);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------- */

.general-info {
  width: clamp(375px, 1024px, 100vw - 1rem);
  min-width: 375px - 1rem;
  max-width: 1024px;
  margin: 1rem;
  display: flex;
}

#basile {
  width: 5rem;
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.social-networks img {
  width: 2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts p a {
  text-decoration: none;
}

.download-vcard-btn a {
  text-decoration: none;
  color: white;
}

.download-vcard-btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 5px;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.download-vcard-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.download-vcard-btn:hover {
  background-color: #2c974b;
}

.download-vcard-btn:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.download-vcard-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.download-vcard-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* ---------- */

.github-summary {
  width: clamp(375px, 1024px, 100vw - 1rem);
  min-width: 375px - 1rem;
  max-width: 1024px;
  margin: 1rem;
  display: flex;
  background-color: hsla(0, 0%, 50%, 0.195);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: -1rem -1rem -1rem hsla(0, 0%, 50%, 0.284);
}

/* -------- */

.professional-objectives {
  width: clamp(375px, 1024px, 100vw - 1rem);
  min-width: 375px - 1rem;
  max-width: 1024px;
  margin: 1rem;
}

.professional-objectives h1 {
  color: #618cbb;
  font-weight: bold;
  font-size: medium;
  margin: 0 0 1rem 0;
  display: inline;
}

.objectives {
  margin: 1rem 1rem;
  padding: 0 1rem;
  border-left: 1px solid gray;
}

.more-experience-btn {
  background-color: hsla(13, 36%, 31%, 0.4);
  border-radius: 6px;
  border: 0;
  padding: 3px 5px;
  margin: 1rem 0rem;
  color: white;
}
